{% load i18n %}
<html>
  <body>
    <div>
      <h2>{% blocktrans %}Adult Learning Program Matchmaker{% endblocktrans %}</h2>
    </div>
      <div>
        <h3>{% blocktrans %}Your results{% endblocktrans %}</h3>
      </div>
      <div>
        {% if number == 1 %}
        <h4>{% blocktrans %}Based on your responses, we found 1 program that you might be interested in{% endblocktrans %}</h4>
        {% else %}
        <h4>{% blocktrans with number as number %}Based on your responses, we found {{ number }} programs that you might be interested in{% endblocktrans %}</h4>
        {% endif %}  
      </div>
      <table>
        <tr>
          <td colspan='2'><h3>{% blocktrans %}My results{% endblocktrans %}:</h3></td>
        </tr>        
        <tr>
          <th><b>{% blocktrans %}Name of the program{% endblocktrans %}</b></th>
          <th align="left"><b>{% blocktrans %}Description and link{% endblocktrans %}</b></th>
        </tr>
        {% for program in programs %}  
        <tr>
          <td>
            <b>{{ program.name }}</b>
          </td>
          <td>
            {{ program.description }}<br/>
            {{ program.path }}            
          </td>
        </tr>
        {% endfor %}
        <br/>            
        <tr>
          <td colspan='2'><h3>{% blocktrans %}My recommendations{% endblocktrans %}:</h3></td>
        </tr>            
        <tr>
          <th><b>{% blocktrans %}Because you said{% endblocktrans %}...</b></th>
          <th align="left"><b>{% blocktrans %}We recommend{% endblocktrans %}...</b></th>
        </tr>
        {% if recommendations %}
        {% for recommendation in recommendations %}  
        <tr>
          <td>
            {{ recommendation.reason }}
          </td>
          <td>
            {{ recommendation.text }}<br/>{{ recommendation.link }}
          </td>
        </tr>  
        {% endfor %}
        {% endif %}
      </table>
      <br/>{{ results_path }}
      <br/>{{ timestamp }}
  </body>
</html>