<html>
  <body>
    <div>
      <h2>Adult Learning Program Matchmaker</h2>
    </div>
      <div>
        <h3>Your results</h3>
      </div>
      <div>
        <h4>Based on your responses, we found %s that you might be interested in</h4>
      </div>
      <table>
        <tr>
          <td colspan='2'><h3>My results:</h3></td>
        </tr>        
        <tr>
          <th><b>Name of the program</b></th>
          <th align="left"><b>Description and link</b></th>
        </tr>
        %s  
        <br/>            
        <tr>
          <td colspan='2'><h3>My recommendations:</h3></td>
        </tr>            
        <tr>
          <th><b>Because you said...</b></th>
          <th align="left"><b>We recommend...</b></th>
        </tr>
        %s  
      </table>
      <br/>%s
      <br/>%s 
  </body>
</html>