{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %}Adult learning{% endblocktrans %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/typography.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/foundation-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/visibility.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/alignment.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/helpers.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/colours.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/highlight-blocks.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/stats.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/buttons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'osr/ods/footer.css' %}" />
  </head>

  <body>
    <header>
      <div class="row">
        <!-- Logo -->
        <div class="small-6 columns">
          <a href="https://ontario.ca/page/government-ontario">
            <span class="logo-ontario" aria-hidden="true"></span>
            <span class="visually-hidden">
              {% blocktrans %}Government of Ontario home page{% endblocktrans %}
            </span>
          </a>
        </div>
        <!-- Toggle language -->
        <div class="small-6 columns">
          <a onclick="toggleLanguage();" class="header-link right small">
            {% blocktrans %}Français{% endblocktrans %}
          </a>
        </div>
      </div>
    </header>  

    <!-- Feedback -->
    <div class="minty columns small-12 text-center">
      {% blocktrans %}This page will be improved using your feedback{% endblocktrans %}. <a href="{% url 'osr:feedback' %}" target="_blank">{% blocktrans %}Please tell us what you think{% endblocktrans %}.</a>
    </div>
    <br/>

    <div class="banner-setup">      
      <br/>
      <div class="row intro banner-space">
          <div class="columns small-12">
            <br/>
            <h1>{% blocktrans %}Adult learning{% endblocktrans %}</h1>
            <p>Adult learning offers programs for those who want to upgrade their skills, get their high school diploma, earn credits and/or improve their language skills.</p>
        </div>        
      </div>
    </div>  

    <div class="row">
      <hr/>
    </div>

    <div class="row">
      <div class="columns small-4 text-center">
        <img src="../../../static/osr/images/tutoring.png" width="75px" height="75px" alt="Refresh your skills"/>
        <p>Upgrade your skills to get better job opportunities, develop confidence and pursue further education</p>
      </div>
      <div class="columns small-4 text-center">
        <img src="../../../static/osr/images/goal.png" width="75px" height="75px" alt="Earn an Ontario Secondary School Diploma"/>
        <p>Get your Ontario high school diploma and/or earn the marks needed for post-secondary education</p>
      </div>
      <div class="columns small-4 text-center">
        <img src="../../../static/osr/images/counselling.png" width="75px" height="75px" alt="Adapt your international skills to Canada"/>
        <p>Learn English and French as an immigrant or refugee.</p>
      </div>            
    </div>  

    <div class="row">
      <br/>
      <div class="columns small-12 text-center">        
        <p>Use the Adult Learning Program Matcher to find a program that best matches your goals</p>
        <a href="{% url 'osr:matchmaker' %}{{ paramLang }}" class="button">{% blocktrans %}Match me{% endblocktrans %}</a>
      </div>
    </div>  

    <div class="row">
      <hr/>
    </div>   
    
    <div class="row">
      <div class="columns small-12">
        <h3>{% blocktrans %}Who can benefit from adult learning programs?{% endblocktrans %}</h3>
        <ul>
          <li>Adult residents of Ontario (at least 18 or 19 years of age, depending on the program).</li>
          <li>Those who want to improve their skills towards education, apprenticeship, employment and/or self-confidence.</li>
          <li>Those who want to get an Ontario high school diploma and/or earn credits for post-secondary education.</li>
          <li>Immigrants who want to improve their language skills in English or French.</li>
          <li>Highly skilled immigrants who want to continue working in their fields.</li>
        </ul>
      </div>
      <hr/>
    </div>

    <div class="row">
      <div class="columns small-12">
        <h3>{% blocktrans %}Adult learning programs{% endblocktrans %}</h3>
        <br/>
      </div>

      {% for p in programs %}       
      <div class="columns small-12 medium-12 large-6">
        <div class="text-center padding-inner-t" style="color: {{ p.foreground_colour }}; background-color: {{ p.background_colour }};"></div>         
        <div class="text-center padding-inner-p" style="border-color: {{ p.background_colour }};">
          <div class="block1">
            <h6>{{ p.name_official }}</h6>
            {{ p.description_for_comparison_page }}
          </div>
          <hr class="hr-comparison-table"/>
          <a href="{% url 'osr:detail_program' p.code|lower %}{{ paramLang }}">{% blocktrans %}Learn more{% endblocktrans %}</a>
        </div>       
      </div>
      <br/>
      {% endfor %}

      <div class="columns small-12 text-center">  
        <br/>
        <a href="{% url 'osr:comparison' %}{{ paramLang }}" class="button">{% blocktrans %}Compare all programs{% endblocktrans %}</a>
      </div>
    </div> 

    <div class="grey-in-table-bg">
      <br/>
      <div class="row">
        <div class="columns small-12 text-center">
          <h4>{% blocktrans %}Not sure which program is best for you?{% endblocktrans %}</h4>          
        </div>      
      </div> 
      <div class="row">
        <div class="columns small-12 medium-7">
          <img src="../../../static/osr/images/widget.png" width="450em" height="265em" alt="Matchmaker"/>
        </div>
        <div class="columns small-12 medium-5">
          <p><br/><br/>Use the Adult Learning Program Matcher to find a program that best matches your goals and needs.</p>
          <a href="{% url 'osr:matchmaker' %}{{ paramLang }}" class="button">{% blocktrans %}Match me{% endblocktrans %}</a>
        </div>        
      </div>
      <br/>
    </div>

    <div class="row">
      <br/>
      <div class="columns small-12">
        <h3>{% blocktrans %}Need help?{% endblocktrans %}</h3>
      </div>   
    </div>

    <div class="row">
      <div class="columns small-12 medium-12 large-4">
        <br/>
        <h6 class="text-center">{% blocktrans %}Chat live with us{% endblocktrans %}</h6>
        <div class="block2">                    
          <p>Talk to someone online to get help.<br/>
          Weekdays<br/>8:30am - 5:00pm ET</p>          
          <br/>
        </div>             
        <div class="text-center">
          {% if LANGUAGE_CODE == 'en' %}
          <a href="https://www.ontario.ca/page/employment-ontario-live-chat" class="button">{% blocktrans %}Chat live{% endblocktrans %}</a>
          {% else %}
          <a href="https://www.ontario.ca/fr/page/clavardage-avec-emploi-ontario" class="button">{% blocktrans %}Chat live{% endblocktrans %}</a>
          {% endif %}          
        </div> 
      </div>
      <div class="columns small-12 medium-12 large-4">
        <br/>
        <h6 class="text-center">{% blocktrans %}Meet with a counsellor{% endblocktrans %}</h6>
        <div class="block2">                
          <p>Schedule a meeting with a counsellor to discuss your goals and needs.</p>          
          <br/>
        </div>
        <div class="text-center">
          <a href="https://www.eoss.tcu.gov.on.ca/CitizenPortal/infoAboutYou.do?programCode=LBS&lang={{ LANGUAGE_CODE|lower }}" class="button">{% blocktrans %}Request an appointment{% endblocktrans %}</a>
        </div>        
      </div>
      <div class="columns small-12 medium-12 large-4">
        <br/>
        <h6 class="text-center">{% blocktrans %}Glossary{% endblocktrans %}</h6>
        <div class="block2">                    
          <p>If you need help understanding some adult learning terms, have a look at the glossary.</p>          
        </div>
        <div class="text-center">
          <a href="{% url 'osr:glossary' %}{{ paramLang }}" class="button">{% blocktrans %}Read more{% endblocktrans %}</a>
        </div>        
      </div>      
    </div> 

    <div class="row">
      <br/>
    </div> 
    <div class="row">
      <br/>
    </div>                     

    <form name="setLangEng" action="/i18n/setlang/" method="POST">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.get_full_path }}"/>
      <input type="hidden" name="language" value="en"/>
    </form>

    <form name="setLangFre" action="/i18n/setlang/" method="POST">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.get_full_path }}"/>
      <input type="hidden" name="language" value="fr"/>
    </form> 

  </body>
</html>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  function getMaxHeightOfAllElemsOfClass(commonClass) {
    var maxHeight = Math.max.apply(null, $(commonClass).map(function ()
    {
      return $(this).height();
    }).get()); 
    return maxHeight;
  }

  function toggleLanguage() {
    if ('{{ LANGUAGE_CODE|lower }}' == 'en') {
      document.setLangFre.submit();
    } else {
      document.setLangEng.submit();
    }    
  }

  $(document).ready(function() {
    // Resize elements to be of the same height
    // The height of the tallest element in each row    
    $('.block1').height(getMaxHeightOfAllElemsOfClass('.block1'));
    $('.block2').height(getMaxHeightOfAllElemsOfClass('.block2'));

    // Resize window after elements were resized
    // Add code for IE
    if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > 0) {
     var evt = document.createEvent('UIEvents');
     evt.initUIEvent('resize', true, false, window, 0);
     window.dispatchEvent(evt);
    } else {
       window.dispatchEvent(new Event('resize'));
    }        
  });   
</script>