{% extends "easy_pdf/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_style %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css"> 
    body {
      font-family:'Raleway';
    }
    h1 {
      font-size:18px;
      text-align:center;
    }
    h2 {
      font-size:14px;
      text-align:center;
    }  
    p {
      font-size:12px;
      line-height: 2px;
    }  
    .title {
      font-size:24px;
      text-align:center;
    }
    .bold {
      font-weight:bold;
    }
    .header {
      border-top:3px;
      border-bottom:3px;
      border-left:3px;
      border-right:3px;
      font-size:16px;
    }
    .link {
      color:#1E6DAE;
    }    
    .right {
      text-align:right;
    }
    .format {
      font-size:14px;
    }
    .margin {            
      margin-top:3px;       
      margin-left:3px;
      margin-right:3px;  
      padding-top:5px;
      padding-left:3px; 
      padding-right:3px;            
    }
  </style>
{% endblock %}

{% block content %}
  <body>
    <div id="content">
      <div class="title bold">
        {% blocktrans %}Adult Learning{% endblocktrans %}<br/>{% blocktrans %}Program Matcher{% endblocktrans %}
      </div>
      <div>
        <h1>{% blocktrans %}Your Results{% endblocktrans %}</h1>
        {% if matches.count == 0 %}
        <h2>{% blocktrans %}We did not find suitable programs for you based on your responses{% endblocktrans %}.<br/>{% blocktrans %}But here is some useful information for you to consider{% endblocktrans %}.</h2>
        {% elif matches.count == 1 %}
        <h2>{% blocktrans %}Based on your responses, we found 1 program that you might be interested in{% endblocktrans %}</h2>
        {% else %}
        <h2>{% blocktrans with matches.count as number %}Based on your responses, we found {{ number }} programs that you might be interested in{% endblocktrans %}</h2>
        {% endif %}        
      </div>

      {% if matches.count > 0 %}
      <table border="1">
        <tr>
          <td class="margin header bold" colspan="4"><h1>{% blocktrans %}Program matches{% endblocktrans %}</h1></td>
        </tr>        
        <tr>
          <td class="margin header bold" colspan="1">{% blocktrans %}Program{% endblocktrans %}</td>
          <td class="margin header bold" colspan="3">{% blocktrans %}Description and link{% endblocktrans %}</td>
        </tr>
        {% for m in matches %}
        <tr>
          <td class="margin format bold" colspan="1">{{ m.name_official }}</td>
          <td class="margin format" colspan="3">
            {{ m.description }} 
            <br/> 
            <span class="link">
              {% filter force_escape|lower %}
                {{ program_path }}/{{ m.code }}
              {% endfilter %}
            </span>
          </td>
        </tr>
        {% endfor %}              
      </table>
      <br/>
      {% endif %}

      {% if messages %}   
      {% for message in messages %}
      <p><b>Goal Path</b>: {{ message.goal }}</p>
        {% for path in message.paths %}
        <p>&bull; {{ path }}</p>
        {% endfor %}
        {% for match in message.future_matches %}
        <p><b>In the future</b>: {{ match }}</p>
        {% endfor %}          
      {% endfor %}        
      <br/>
      {% endif %}

      {% if links or recos %}
      <div>
        <h1>{% blocktrans %}Other Relevant Information{% endblocktrans %}</h1>
      </div>
      <table border="1"> 
        <tr>
          <td class="margin header bold" colspan="4"><h1>{% blocktrans %}Recommendations{% endblocktrans %}</h1></td>
        </tr>            
        <tr>
          <td class="margin header bold" colspan="1">{% blocktrans %}Because you said...{% endblocktrans %}</td>
          <td class="margin header bold" colspan="3">{% blocktrans %}We recommend...{% endblocktrans %}</td>
        </tr>        
        {% for link in links %}
        <tr>
          <td class="margin format" colspan="1">{{ link.reason }}</td>
          <td class="margin format" colspan="3">{{ link.text }}: <br/><span class="link">{{ link.link }}</span></td>
        </tr>
        {% endfor %}  
        {% for reco in recos %}
        <tr>
          <td class="margin format" colspan="4">{{ reco.text }}</td>
        </tr>
        {% endfor %}        
      </table>
      <br/>
      {% endif %}            

      <table>
        <tr>
          <td class="margin format">{{ results_path }}</td>
          <td class="margin format right">{% now "jS F Y H:i" %}</td>
        </tr>
      </table>
    </div>
  </body>
{% endblock %}
